

.formtable{
width: 400px;
padding: 10px;
border: 1px solid blue;

}

input[type=text] {
	width:250px;
	margin-left: 10px;
}

textarea{
width: 250px;
height: 300px;
margin-left: 10px;

}

.label{
text-align: right;
border-bottom: 20px;

}
.control{
margin-left: 10px;
}